<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    img-fast {
      width: 100%;
      display: inline-block;
    }
  </style>
  <!-- <script src="./live.js">
    </script> -->
  </script>
</head>

<body>
  <container>
    <div class="row">
      <div class="col">Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test</div>
      <div class="col">
        <img-fast src="https://wiegell.github.io/img-fast/assets/jpg_HR_only_thumb/01.jpg">
          <!-- Configuration -->
          <script type="application/json">
  </script>
        </img-fast>
      </div>

      <div class="col">
        <img-fast src="https://wiegell.github.io/img-fast/assets/jpg_HR_only_thumb/02.jpg">
          <!-- Configuration -->
          <script type="application/json">
    </script>
        </img-fast>
      </div>
      <div class="col">
        <img-fast src="https://wiegell.github.io/img-fast/assets/jpg_HR_only_thumb/03.jpg">
          <!-- Configuration -->
          <script type="application/json">
    </script>
        </img-fast>
      </div>
    </div>
    <div class="row">
      <div class="col">Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test</div>
      <img-fast class="col" src="https://wiegell.github.io/img-fast/assets/jpg_HR_only_thumb/04.jpg">
        <!-- Configuration -->
        <script type="application/json">
    </script>
      </img-fast>

      <div class="col">
        <img-fast src="https://wiegell.github.io/img-fast/assets/jpg_HR_only_thumb/05.jpg">
          <!-- Configuration -->
          <script type="application/json">
    </script>
        </img-fast>
      </div>
      <div class="col">
        <img-fast src="https://wiegell.github.io/img-fast/assets/jpg_HR_only_thumb/06.jpg">
          <!-- Configuration -->
          <script type="application/json">
    </script>
        </img-fast>
      </div>
    </div>
    <div class="row">
      <div class="col">Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test</div>
      <div class="col">
        <img-fast src="https://wiegell.github.io/img-fast/assets/jpg_HR_only_thumb/01.jpg">
          <!-- Configuration -->
          <script type="application/json">
  </script>
        </img-fast>
      </div>

      <div class="col">
        <img-fast src="https://wiegell.github.io/img-fast/assets/jpg_HR_only_thumb/02.jpg">
          <!-- Configuration -->
          <script type="application/json">
    </script>
        </img-fast>
      </div>
      <div class="col">
        <img-fast src="https://wiegell.github.io/img-fast/assets/jpg_HR_only_thumb/03.jpg">
          <!-- Configuration -->
          <script type="application/json">
    </script>
        </img-fast>
      </div>
    </div>
    <div class="row">
      <div class="col">Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test</div>
      <img-fast class="col" src="https://wiegell.github.io/img-fast/assets/jpg_HR_only_thumb/04.jpg">
        <!-- Configuration -->
        <script type="application/json">
    </script>
      </img-fast>

      <div class="col">
        <img-fast src="https://wiegell.github.io/img-fast/assets/jpg_HR_only_thumb/05.jpg">
          <!-- Configuration -->
          <script type="application/json">
    </script>
        </img-fast>
      </div>
      <div class="col">
        <img-fast src="https://wiegell.github.io/img-fast/assets/jpg_HR_only_thumb/06.jpg">
          <!-- Configuration -->
          <script type="application/json">
    </script>
        </img-fast>
      </div>
    </div>
    <!-- <div class="row">

      <div class="col"><img class="img-fluid" src="./assets/jpg_HR_only_thumb/01.jpg" alt=""></div>
      <div class="col"><img class="img-fluid" src="./assets/jpg_HR_only_thumb/02.jpg" alt=""></div>
      <div class="col"><img class="img-fluid" src="./assets/jpg_HR_only_thumb/03.jpg" alt=""></div>
    </div>
    <div class="row">

      <div class="col"><img class="img-fluid" src="./assets/jpg_HR_only_thumb/04.jpg" alt=""></div>
      <div class="col"><img class="img-fluid" src="./assets/jpg_HR_only_thumb/05.jpg" alt=""></div>
      <div class="col"><img class="img-fluid" src="./assets/jpg_HR_only_thumb/06.jpg" alt=""></div>
    </div> -->
  </container>

</body>

</html>