<html>

<head>

  <style>
    img-fast {
     width:32%;
     display: inline-block;
    }
  </style>
  <!-- <script src="./live.js">
    </script> -->


  </script>
</head>

<body>
  <img-fast src="./assets/01.jpg">
    <!-- Configuration -->
    <script type="application/json">
    </script>
  </img-fast>
  <img-fast src="./assets/02.jpg">
    <!-- Configuration -->
    <script type="application/json">
  </script>
  </img-fast>
  <img-fast src="./assets/03.jpg">
    <!-- Configuration -->
    <script type="application/json">
  </script>
  </img-fast>
  <img-fast src="./assets/04.jpg">
  <!-- Configuration -->
  <script type="application/json">
</script>
</img-fast>
<img-fast src="./assets/05.jpg">
<!-- Configuration -->
<script type="application/json">
</script>
</img-fast>
<img-fast src="./assets/06.jpg">
<!-- Configuration -->
<script type="application/json">
</script>
</img-fast>

</body>

</html>